<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>这是测试</title>
	<script src='/public/compontent/jquery/jquery.js'></script>
	<script src='/public/compontent/bootstrap/dist/js/bootstrap.js'></script>
	<script src='/public/compontent/fabric/dist/fabric.js'></script>
	<link rel="stylesheet" href="/public/compontent/bootstrap/dist/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/public/css/lib2.css">
</head>
<body>
	

这是测试!


	
<script type="text/javascript" charset="utf-8" src="/public/js/lib.js"></script>
</body>
</html>